.App {
  text-align: center;
  display : grid;
  min-height :  100vh;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
    'Header'
    'Nav'
    'ArticlesList';
}

.Header {
  border : solid blue 1px;
  margin : 0px;
  font-family: "Lucida Console", "Courier New", monospace;
  padding : 10px

}

.Nav {
  border : solid Green 1px;
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  word-spacing: 10px;
  margin : 0px;
  padding : 10px;

}

.Nav-Link {
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  word-spacing: 10px;
  margin : 0px;
  padding : 5px;

}

.ArticlesList {
  border : solid Red 1px ; 
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
}

.ArticleItem {
  border : solid black 1px;
  padding : 15px;
  margin : 4px;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 1px 1px;

}

.ArticleTitle {
  color : Black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  word-wrap: break-word;


}

.SingleArticle {
  border : solid gold 1px;
  padding : 15px;
  margin : 4px;
  width: 100vw;
  border-radius: 5px;
  box-shadow: 1px 1px;
  color : Black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  word-wrap: break-word;

}

.Comments {
  border : solid pink 1px;
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;

}

.CommentsItem {
  font-family: "Lucida Console", "Courier New", monospace;
  border : solid black 1px;
  padding : 15px;
  margin : 4px;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 1px 1px;

}

.Account {
  border : solid salmon 1px;
  font-family: "Lucida Console", "Courier New", monospace;

}

ul {
  list-style-type : none;
}

.CurrentUsername {
  color : maroon;
  margin-left : 50px;
  font-weight: bold;
}