.App {
  text-align: center;
  grid-template-rows: min-content min-content auto;
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-areas: 
    'Header'
    'Nav'
    'mainBody'; 
}
 
.Header {
  grid-area: Header;
  font-size: 150%;
  height: 60px;
  border : solid black 3px;
  margin : 0px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  padding:20px;
}

.Nav {
  grid-area: Nav;
  font-size: 30px;
  margin : 0px;
  height: 50px;
  border-left : solid black 3px;
  border-right : solid black 3px;
  border-bottom : solid black 3px;
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
}

.Nav-Link {
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 40%;
  margin : 1vw;
}

#CurrentUsername {
  color : maroon;
  font-size: 40%;
}

.mainBody {
  grid-area: mainBody;
  display: grid;
}

#sortByDropdown {
  height: 50px;
  border-left : solid black 3px;
  border-right : solid black 3px;
  font-size: 20px;
}

.ArticlesList {
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
  justify-content: center;
  border : solid black 3px;

}

.ArticleItem {
  border : solid black 1px;
  padding : 15px;
  margin : 4px;
  width: 350px;
  min-height: 270px; 
  border-radius: 5px;
  box-shadow: 1px 1px;
}

.ArticleTitle {
  color : Black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  word-wrap: break-word;
}

#SingleArticle {
  padding : 15px;
  margin : 0px;
  border-radius: 5px;
  box-shadow: 1px 1px;
  border-left : solid black 3px;
  border-right : solid black 3px;
  border-bottom : solid black 3px;
  color : Black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  word-wrap: break-word;
}

.Comments {
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
  justify-content: center;
  border-left : solid black 3px;
  border-right : solid black 3px;
  border-bottom : solid black 3px; 
}

.CommentsItem {
  font-family: "Lucida Console", "Courier New", monospace;
  border : solid black 1px;
  padding : 15px;
  margin : 4px;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 1px 1px;
  min-width: 256px; 
  min-height: 250px;  
}

.Account {
  font-family: "Lucida Console", "Courier New", monospace;
  border-left : solid black 3px;
  border-right : solid black 3px;
  border-bottom : solid black 3px;
}

#accountLink {
  color : navy;
  font-weight: bold;
}



.SignInButton {
  height: 40px; 
  margin:50px;
}

ul {
  list-style-type : none;
} 